section.contactUs .con-b,
header .head-h,
footer .footer-b {
    flex-direction: row;
}

header .head-h .logo {
    float: left;
    text-align: left !important;
}

header .head-h .text-right {
    float: right;
    text-align: right !important;
}

section.contactUs textarea,
section.contactUs input {
    direction: ltr;
}